 <aside>
      <div class="main">
          <div class="container_12">
              <div class="wrapper">
                  <div class="grid_3">
                      <h6 class="p2">Contact Us</h6>
                      <ul class="list-1 indent-bot2">
                          <li><%= mail_to "agf@bresnan.net" %></li>
                          <li>406.250.2809</li>
                         
                      </ul>
                  </div>
                  <div class="grid_3">
                      <h6 class="p2">Kalispell Area</h6>
                      <ul class="list-1 indent-bot2">
                          <li><a href="http://www.kalispellchamber.com/">Chamber of Commerce</a></li>
                          <li><a href="http://www.kalispell.com/home/">City of Kalispell</a></li>
                          <li><a href="http://www.nps.gov/glac/index.htm">Glacier Park</a></li>
                      </ul>
                  </div>
                  <div class="grid_3">
                      <h6 class="p2">Local Links</h6>
                      <ul class="list-1 indent-bot2">
                          <li><a href="http://nmar.com">NMAR (NW MT Assoc. of Realtors)</a></li>
                          <li class="last"><a href="https://www.mtnwestbank.com/">Mountain West Bank</a></li>
                           <li class="last"><a href="https://www.glacierbank.com/">Glacier Bank</a></li>
                      </ul>
                  </div>
                  <div class="grid_3" style="display: hidden">
                      
                  </div>
              </div>
          </div>
      </div>
  </aside>
  
    <!--==============================footer=================================-->
    <footer>
        <div class="main">
        	<div class="footer-inner">
                <span class="color-1">America Interactive Real Estate</span> (c) 2012 
                <div><!-- {%FOOTER_LINK} --></div>
            </div>
        </div>
    </footer>