<nav>
      <ul class="menu">
          <li><a href="/search">Search MLS</a></li>
          <li>&nbsp;</li>
          <li><a href="/myhomes">Selling</a></li>
          <li><a href="/buying">Buying</a></li>
          <li><a href="/about">About us</a></li>
      </ul>
  </nav>