<nav>
      <ul class="menu">
          <li><a href="/search_mls">Search MLS</a>
              <ul>
                  <li><a href="#">All Homes</a></li>
                  <li><a href="#">My Homes</a></li>
              </ul>
          </li>
          <li>&nbsp;</li>
          <li><a href="/selling">Selling</a></li>
          <li><a href="/buying">Buying</a></li>
          <li><a href="/about">About us</a></li>
      </ul>
  </nav>