<body id="page3">
    <div id="main">
        <!--==============================content================================-->
        <section id="content">
            <div class="main">
                <div class="wrapper">
                    <div class="col-1 maxheight">
                    	<div class="index-2">
                            <h1><a href="/">logo</a></h1>
                           <%= render :partial => 'nav' %>
                        </div>
                    </div>
                    <div class="col-2 maxheight">
                    	<div class="index-1">
                            <div class="top-pad">
                                <div class="col-2-bg">
                                    <div class="indent">
                                        <div class="border-1 p3">
                                            <h3 class="">The Right Property for You!!!</h3>
                                        </div>
                                        <figure class="indent-bot2"><a href="#"><img class="img-border" src="images/page3-img1.jpg" alt=""></a></figure>
                                        <h5 class="indent-bot">Elitesent vestibulum molestieser lacus fenean nonestieummy hendreritusce suscipit varius suada odir binunc odio gravida cursus nec luctus aloreaecenas vitae pedonec eget.</h5>
                                        <p>Tristique orci ac semuis ultricies pharetra magna. Donec accumsan malesuada orcinec site amet eros. <br />Lorem ipsum dolor sit amet, consectetuer adipiscing eliauris fermentum dictumeleifend elit. Aenean auctor wisi et urna. Aliquam erat volutpat  ullamcorper urna et felis.</p>
                                        <p class="p1">Duis ac turpis. Integer rutrum ante eu lacusisque nulla. Vestibulum libero nisl, porta velerisque eget, male- suada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisinean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilipendisse sollicitudin velit sed leo phare- tra augue nec augue. Nam elit magna, hendrerit sit amet, tincidunt ac, viverra sed, nulla. Donec porta <br />diam eu massa. Quisque diam lorem, interdum vitae dapibus scelerisque vitae pedonec eget tellus non erat lacinia fermentum. Donec in velit vel ipsum auctor pulvinar.</p>
                                        <a class="button" href="#">More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="bg">
            <!--==============================aside=================================-->
             <%= render :partial => 'footer' %>
        
            <!--==============================footer=================================-->
            
        </div>
    </div>
	<script type="text/javascript"> Cufon.now(); </script>
  	<script type="text/javascript">
    $(document).ready(function(){
	   $(document).bgStretcher({
			images: ['images/body-bg.jpg'], imageWidth: 1210, imageHeight: 807
		});
	});
	</script>
</body>