<body id="page6">
    <div id="main">
        <!--==============================content================================-->
        <section id="content">
            <div class="main">
                <div class="wrapper">
                    <div class="col-1 maxheight">
                        <div class="index-2">
                            <h1><a href="/">logo</a></h1>
                            <%= render :partial => 'nav' %>
                        </div>
                    </div>
                    <div class="col-2 maxheight">
                    	<div class="index-1">
                            <div class="top-pad">
                                <div class="col-2-bg">
                                    <div class="indent">
                                        <div class="border-1 p3">
                                            <h3 class="">Buying Home</h3>
                                        </div>
                                        <div class="wrapper p3">
                                            <figure class="img-style"><a href="#"><img class="img-border" src="images/page6-img1.jpg" alt=""></a></figure>
                                            <div class="extra-wrap">
                                                <ul class="list-2">
                                                    <li><a href="#">Market Insights</a></li>
                                                    <li><a href="#">Take Advantage of Today’s Market</a></li>
                                                    <li><a href="#">Market Report</a></li>
                                                    <li><a href="#">What’s Happening in Your Market?</a></li>
                                                    <li class="last"><a href="#">Buying a Foreclosure:</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <ul class="list-3">
                                            <li class="item-1"><strong class="color-1">Money:</strong> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie    lacus. Aenean nonummy hendrerit mauris.</li>
                                            <li class="item-2"><strong class="color-1">Motivation:</strong> Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
                                            <li class="item-3"><strong class="color-1">Location:</strong> Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. </li>
                                            <li class="item-4"><strong class="color-1">Condition:</strong> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo ut tellus dolor.</li>
                                            <li class="item-5"><strong class="color-1">Expert Help:</strong> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo ut tellus dolor.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="bg">
            <!--==============================aside=================================-->
                   <%= render :partial => 'footer' %>
        
            <!--==============================footer=================================-->
           
        </div>
    </div>
	<script type="text/javascript"> Cufon.now(); </script>
  	<script type="text/javascript">
    $(document).ready(function(){
	   $(document).bgStretcher({
			images: ['/images/bg-2.jpg'], imageWidth: 1210, imageHeight: 807
		});
	});
	</script>
</body>