



<body id="page5">
    <div id="main">
        <!--==============================content================================-->
        <section id="content">
            <div class="main">
                <div class="wrapper">
                    <div class="col-1 maxheight">
                    	<div class="index-2">
                            <h1><a href="/">logo</a></h1>
                             <%= render :partial => 'nav' %>
                        </div>
                    </div>
                    <div class="col-2 maxheight">
                    	<div class="index-1">
                            <div class="top-pad">
                                <div class="col-2-bg">
                                    <div class="indent">
                                        <div class="border-1 p3">
                                            <h3 class="">My Listings</h3>
                                        </div>
                                        
                                          <iframe src='http://www.flexmls.com/cgi-bin/mainmenu-compress.cgi?cmd=srv+flexwidgets/widget.html&t=list&l=wzhjr3l6iky&command_line_mode=true' scrolling='no' frameborder='0' style='border:2px solid #D0D0D0;' height='520' width='100%' ></iframe>
                                       
                                     
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="bg">
            <!--==============================aside=================================-->
            <%= render :partial => 'footer' %>
            <!--==============================footer=================================-->
            
        </div>
    </div>
	<script type="text/javascript"> Cufon.now(); </script>
  	<script type="text/javascript">
    $(document).ready(function(){
	   $(document).bgStretcher({
			images: ['images/body-bg.jpg'], imageWidth: 1210, imageHeight: 807
		});
	});
	</script>
</body>