<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<link href="style.css" rel="stylesheet" type="text/css" />
<link href="layout.css" rel="stylesheet" type="text/css" />
<!--[if IE]>
	<link href="ie_style.css" rel="stylesheet" type="text/css" />
   <script type="text/javascript" src="ie_png.js"></script>
   <script type="text/javascript">
       ie_png.fix('.png');
   </script>
<![endif]-->
</head>

<body id="page6">
	<div class="tail-top">
      <div class="tail-bottom">
         <div id="main">
            <!-- header -->
            <div id="header">
               <div class="row-1">
                  <div class="fleft"><a href="index.html"><img alt="" src="images/logo.jpg" /></a></div>
                  <ul class="nav">
                     <li><a href="index.html" class="first">Home</a></li>
                     <li><a href="index-1.html">About us</a></li>
                     <li><a href="index-2.html">Activities</a></li>
                     <li><a href="index-3.html">Services</a></li>
                     <li><a href="index-4.html">Contacts</a></li>
                  </ul>
               </div>
               <div class="row-2">
               	<div class="wrapper">
                  	<div class="col-1">
                     	<!-- box1 begin -->
                        <div class="box1">
                        	<div class="inner">
                           	<h4>Booking</h4>
                              <form action="" id="booking-form">
                              	<div>
                                 	<label><input type="text" value="Your name:"/></label>
                                    <label><input type="text" value="Your e-mail:"/></label>
                                    <label><input type="text" value="Your address:"/></label>
                                    <label class="alt">
                                    	Num of adults: &nbsp; &nbsp; &nbsp; Num of children:<br />
                                       <select><option>1</option></select>&nbsp; <select><option></option></select>
                                    </label>
                                    <label class="alt">
                                    	Arrival date:<br />
                                       <select class="select1"><option>1</option></select><select class="select1"><option>1</option></select><select class="select2"><option>2009</option></select>
                                    </label>
                                    <div class="wrapper"><a href="#" class="button">submit</a><a href="#" class="button">Reset</a></div>
                                 </div>
                              </form>
                           </div>
                        </div>
                        <!-- box1 end -->
                     </div>
                     <div class="col-2">
                     	<!-- slide-box begin -->
                        <div class="slide-box">
                        	<div class="inner">
                           	<ul class="slides-list">
                              	<li><a href="#" class="current">&nbsp;</a></li><li><a href="#">&nbsp;</a></li><li><a href="#">&nbsp;</a></li><li><a href="#">&nbsp;</a></li><li><a href="#">&nbsp;</a></li><li><a href="#">&nbsp;</a></li>
                              </ul>
                           	<img alt="" src="images/slide1.jpg" />
                           </div>
                        </div>
                        <!-- slide-box end -->
                     </div>
                  </div>
               </div>
            </div>
            <!-- content -->
            <div id="content">
               <div class="indent">
               	<h2 class="alt">Privacy policy</h2>
                  <div class="indent">
                     <h5>Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit</h5>
                     <p>Quisque nulla. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit magna, hendrerit sit amet, tincidunt ac, viverra sed, nulla. Donec porta diam eu massa. Quisque diam lorem, interdum vitae, dapibus ac, scelerisque vitae, pede. Donec eget tellus non erat lacinia fermentum.</p> 
                     <h5>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</h5>
                     <p>Donec porta diam eu massa. Quisque diam lorem, interdum vitae, dapibus ac, scelerisque vitae, pede. Donec eget tellus non erat lacinia fermentum. Donec in velit vel ipsum auctor pulvinar. Proin ullamcorper urna et felis.Vestibulum iaculis lacia est. Proin dictum elementum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor aliquam congue.</p>
                     <h5>Aenean nonummy hendrerit mauris. Phasellus porta fusce suscipit varius mi cum sociis</h5>
                     Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam.
                     <div class="line-hor"></div>
                     <span class="txt1">E-mail:</span>&nbsp; <a href="#" class="link1">info@companyname.com</a>
                  </div>
               </div>
            </div>
            <!-- footer -->
            <div id="footer">
            	<p>Mountain hotel &copy; 2009 | <a href="index-5.html">Privacy Policy</a></p>
            </div>
         </div>
      </div>
   </div>
</body>
</html>