<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<link href="style.css" rel="stylesheet" type="text/css" />
<link href="layout.css" rel="stylesheet" type="text/css" />
<!--[if IE]>
	<link href="ie_style.css" rel="stylesheet" type="text/css" />
   <script type="text/javascript" src="ie_png.js"></script>
   <script type="text/javascript">
       ie_png.fix('.png');
   </script>
<![endif]-->
</head>

<body id="page2">
	<div class="tail-top">
      <div class="tail-bottom">
         <div id="main">
            <!-- header -->
            <div id="header">
               <div class="row-1">
                  <div class="fleft"><a href="index.html"><img alt="" src="images/logo.jpg" /></a></div>
                  <ul class="nav">
                     <li><a href="index.html" class="first">Home</a></li>
                     <li><a href="index-1.html" class="current">About us</a></li>
                     <li><a href="index-2.html">Activities</a></li>
                     <li><a href="index-3.html">Services</a></li>
                     <li><a href="index-4.html">Contacts</a></li>
                  </ul>
               </div>
               <div class="row-2">
               	<div class="wrapper">
                  	<div class="col-1">
                     	<!-- box1 begin -->
                        <div class="box1">
                        	<div class="inner">
                           	<h4>Booking</h4>
                              <form action="" id="booking-form">
                              	<div>
                                 	<label><input type="text" value="Your name:"/></label>
                                    <label><input type="text" value="Your e-mail:"/></label>
                                    <label><input type="text" value="Your address:"/></label>
                                    <label class="alt">
                                    	Num of adults: &nbsp; &nbsp; &nbsp; Num of children:<br />
                                       <select><option>1</option></select>&nbsp; <select><option></option></select>
                                    </label>
                                    <label class="alt">
                                    	Arrival date:<br />
                                       <select class="select1"><option>1</option></select><select class="select1"><option>1</option></select><select class="select2"><option>2009</option></select>
                                    </label>
                                    <div class="wrapper"><a href="#" class="button">submit</a><a href="#" class="button">Reset</a></div>
                                 </div>
                              </form>
                           </div>
                        </div>
                        <!-- box1 end -->
                     </div>
                     <div class="col-2">
                     	<!-- slide-box begin -->
                        <div class="slide-box">
                        	<div class="inner">
                           	<ul class="slides-list">
                              	<li><a href="#" class="current">&nbsp;</a></li><li><a href="#">&nbsp;</a></li><li><a href="#">&nbsp;</a></li><li><a href="#">&nbsp;</a></li><li><a href="#">&nbsp;</a></li><li><a href="#">&nbsp;</a></li>
                              </ul>
                           	<img alt="" src="images/slide1.jpg" />
                           </div>
                        </div>
                        <!-- slide-box end -->
                     </div>
                  </div>
               </div>
            </div>
            <!-- content -->
            <div id="content">
               <div class="wrapper">
                  <div class="col-1">
                     <div class="indent">
                     	<h2>Testimonials</h2>
                        <h5>Andy Markus, <span>February 20, 2009</span></h5>
                        <blockquote><p>&ldquo; Mauris vel tortor vitae nibh condi- mentum auctor. Integer ac lacus. Cum sociis natoque penatibus et magnis dis parturient montes...&rdquo; </p></blockquote>
                        <h5>Jenny Grosh, <span>February 10, 2009</span></h5>
                        <blockquote><p>&ldquo; Proin dictum elemtum velit. Fusce euismod consquat ante. Lorem ipsum dolor sit amet, contuer adipiscing...&rdquo; </p></blockquote>
                        <h5>Elza Markus, <span>January 10, 2009</span></h5>
                        <blockquote><p>&ldquo; Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra...&rdquo; </p></blockquote>
                        <div class="line-hor1"></div>
                        <div class="wrapper"><a href="#" class="button1">read more</a></div>
                     </div>
                  </div>
                  <div class="col-2">
                  	<!-- box begin -->
                     <div class="box">
                     	<div class="top">
                        	<div class="bottom">
                           	<div class="inner">
                              	<h3>A few words about us</h3>
                                 <div class="inner">
                                    <div class="img-box">
                                       <img alt="" src="images/2page-img1.jpg" />
                                       <h5>Donec in velit vel ipsum auctor pulvinar. Proin ullamcorper urna et felis</h5>
                                       Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. 
                                    </div>
                                    <p>Mauris vel tortor vitae nibh condimentum auctor. Integer ac lacus. Cum sociis natoque penatibus et magnis dis parturient montes <a href="#">nascetur ridiculus</a> mus. In purus ante, ornare id, rutrum sit amet, condimentum rhoncus ligula. Nunc dignissim tristique ipsum.</p> 
                                    <div class="wrapper">
                                    	<ul class="list1 col-1">
                                       	<li><a href="#">Praesent vestibulum molest</a></li>
                                          <li><a href="#">Aenean nonummy hendrer</a></li> 
                                          <li><a href="#">Mauris phasellus porta amet</a></li>
                                          <li class="last"><a href="#">Suscipit varius mi cum soc</a></li>
                                       </ul>
                                       <ul class="list1 col-2">
                                       	<li><a href="#">Suscipit varius mi cum soc</a></li>
                                          <li><a href="#">Natoque penatibus et magn</a></li> 
                                          <li><a href="#">Dis parturient mntes, nascet</a></li>
                                          <li class="last"><a href="#">Ridiculus mus nulla dui fus</a></li>
                                       </ul>
                                    </div>
                                    <div class="line-hor"></div>
                                    <div class="wrapper"><a href="#" class="button">read more</a></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="box-bottom png"></div>
                     <!-- box end -->
                  </div>
               </div>
            </div>
            <!-- footer -->
            <div id="footer">
            	<p>Mountain hotel &copy; 2009 | <a href="index-5.html">Privacy Policy</a></p>
            </div>
         </div>
      </div>
   </div>
</body>
</html>