<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<link href="style.css" rel="stylesheet" type="text/css" />
<link href="layout.css" rel="stylesheet" type="text/css" />
<!--[if IE]>
	<link href="ie_style.css" rel="stylesheet" type="text/css" />
   <script type="text/javascript" src="ie_png.js"></script>
   <script type="text/javascript">
       ie_png.fix('.png');
   </script>
<![endif]-->
</head>

<body id="page3">
	<div class="tail-top">
      <div class="tail-bottom">
         <div id="main">
            <!-- header -->
            <div id="header">
               <div class="row-1">
                  <div class="fleft"><a href="index.html"><img alt="" src="images/logo.jpg" /></a></div>
                  <ul class="nav">
                     <li><a href="index.html" class="first">Home</a></li>
                     <li><a href="index-1.html">About us</a></li>
                     <li><a href="index-2.html" class="current">Activities</a></li>
                     <li><a href="index-3.html">Services</a></li>
                     <li><a href="index-4.html">Contacts</a></li>
                  </ul>
               </div>
               <div class="row-2">
               	<div class="wrapper">
                  	<div class="col-1">
                     	<!-- box1 begin -->
                        <div class="box1">
                        	<div class="inner">
                           	<h4>Booking</h4>
                              <form action="" id="booking-form">
                              	<div>
                                 	<label><input type="text" value="Your name:"/></label>
                                    <label><input type="text" value="Your e-mail:"/></label>
                                    <label><input type="text" value="Your address:"/></label>
                                    <label class="alt">
                                    	Num of adults: &nbsp; &nbsp; &nbsp; Num of children:<br />
                                       <select><option>1</option></select>&nbsp; <select><option></option></select>
                                    </label>
                                    <label class="alt">
                                    	Arrival date:<br />
                                       <select class="select1"><option>1</option></select><select class="select1"><option>1</option></select><select class="select2"><option>2009</option></select>
                                    </label>
                                    <div class="wrapper"><a href="#" class="button">submit</a><a href="#" class="button">Reset</a></div>
                                 </div>
                              </form>
                           </div>
                        </div>
                        <!-- box1 end -->
                     </div>
                     <div class="col-2">
                     	<!-- slide-box begin -->
                        <div class="slide-box">
                        	<div class="inner">
                           	<ul class="slides-list">
                              	<li><a href="#" class="current">&nbsp;</a></li><li><a href="#">&nbsp;</a></li><li><a href="#">&nbsp;</a></li><li><a href="#">&nbsp;</a></li><li><a href="#">&nbsp;</a></li><li><a href="#">&nbsp;</a></li>
                              </ul>
                           	<img alt="" src="images/slide1.jpg" />
                           </div>
                        </div>
                        <!-- slide-box end -->
                     </div>
                  </div>
               </div>
            </div>
            <!-- content -->
            <div id="content">
               <div class="wrapper">
                  <div class="col-1">
                     <div class="indent">
                     	<h2>Kinds of activities</h2>
                        <p><img alt="" src="images/3page-img1.jpg" /></p>
                        <div class="indent">
                           <dl class="list2">
                              <dt>Fusce euismod</dt>
                              <dd>Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros.  <a href="#">more</a></dd>
                              <dt>Nam elit magna</dt>
                              <dd>Vestibulum ante ipsum primis in faucibus orci luctus ultrices.  <a href="#">more</a></dd>
                              <dt>Etiam cursus</dt>
                              <dd>Nulla facili aean nec eros.  <a href="#">more</a></dd>
                           </dl>
                           <div class="wrapper"><a href="#" class="button1">view more</a></div>
                        </div>
                     </div>
                  </div>
                  <div class="col-2">
                  	<!-- box begin -->
                     <div class="box">
                     	<div class="top">
                        	<div class="bottom">
                           	<div class="inner">
                              	<h3>About activities</h3>
                                 <div class="inner">
                                    <h5>Aliquam congue fermentum nisl mauris accumsan nulla vel diamnibh</h5>
                                    Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                    <div class="line-hor"></div>
                                    <p class="wrapper"><a href="#" class="button">read more</a></p>
                                 </div>
                                 <h3>Our gallery</h3>
                                 <ul class="list3">
                                 	<li><a href="#"><img alt="" src="images/3page-img2.jpg" /></a></li>
                                    <li><a href="#"><img alt="" src="images/3page-img3.jpg" /></a></li>
                                    <li class="last"><a href="#"><img alt="" src="images/3page-img4.jpg" /></a></li>
                                 </ul>
                                 <div class="line-hor"></div>
                                 <div class="wrapper"><a href="#" class="button">view more</a></div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="box-bottom png"></div>
                     <!-- box end -->
                  </div>
               </div>
            </div>
            <!-- footer -->
            <div id="footer">
            	<p>Mountain hotel &copy; 2009 | <a href="index-5.html">Privacy Policy</a></p>
            </div>
         </div>
      </div>
   </div>
</body>
</html>