<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<link href="style.css" rel="stylesheet" type="text/css" />
<link href="layout.css" rel="stylesheet" type="text/css" />
<!--[if IE]>
	<link href="ie_style.css" rel="stylesheet" type="text/css" />
   <script type="text/javascript" src="ie_png.js"></script>
   <script type="text/javascript">
       ie_png.fix('.png');
   </script>
<![endif]-->
</head>

<body id="page4">
	<div class="tail-top">
      <div class="tail-bottom">
         <div id="main">
            <!-- header -->
            <div id="header">
               <div class="row-1">
                  <div class="fleft"><a href="index.html"><img alt="" src="images/logo.jpg" /></a></div>
                  <ul class="nav">
                     <li><a href="index.html" class="first">Home</a></li>
                     <li><a href="index-1.html">About us</a></li>
                     <li><a href="index-2.html">Activities</a></li>
                     <li><a href="index-3.html" class="current">Services</a></li>
                     <li><a href="index-4.html">Contacts</a></li>
                  </ul>
               </div>
               <div class="row-2">
               	<div class="wrapper">
                  	<div class="col-1">
                     	<!-- box1 begin -->
                        <div class="box1">
                        	<div class="inner">
                           	<h4>Booking</h4>
                              <form action="" id="booking-form">
                              	<div>
                                 	<label><input type="text" value="Your name:"/></label>
                                    <label><input type="text" value="Your e-mail:"/></label>
                                    <label><input type="text" value="Your address:"/></label>
                                    <label class="alt">
                                    	Num of adults: &nbsp; &nbsp; &nbsp; Num of children:<br />
                                       <select><option>1</option></select>&nbsp; <select><option></option></select>
                                    </label>
                                    <label class="alt">
                                    	Arrival date:<br />
                                       <select class="select1"><option>1</option></select><select class="select1"><option>1</option></select><select class="select2"><option>2009</option></select>
                                    </label>
                                    <div class="wrapper"><a href="#" class="button">submit</a><a href="#" class="button">Reset</a></div>
                                 </div>
                              </form>
                           </div>
                        </div>
                        <!-- box1 end -->
                     </div>
                     <div class="col-2">
                     	<!-- slide-box begin -->
                        <div class="slide-box">
                        	<div class="inner">
                           	<ul class="slides-list">
                              	<li><a href="#" class="current">&nbsp;</a></li><li><a href="#">&nbsp;</a></li><li><a href="#">&nbsp;</a></li><li><a href="#">&nbsp;</a></li><li><a href="#">&nbsp;</a></li><li><a href="#">&nbsp;</a></li>
                              </ul>
                           	<img alt="" src="images/slide1.jpg" />
                           </div>
                        </div>
                        <!-- slide-box end -->
                     </div>
                  </div>
               </div>
            </div>
            <!-- content -->
            <div id="content">
               <div class="wrapper">
                  <div class="col-1">
                     <div class="indent">
                     	<h2>Services list</h2>
                        <div class="indent">
                           <ul class="list1 p2">
                              <li><a href="#">Aenean nonummy</a></li> 
                              <li><a href="#">Hendrerit mauris</a></li> 
                              <li><a href="#">Phasellus porta fusce</a></li>
                              <li><a href="#">Suscipit varius mi</a></li> 
                              <li><a href="#">Cum sociis natoque</a></li> 
                              <li><a href="#">Penatibus et magnis</a></li> 
                              <li><a href="#">Dis parturient mont</a></li> 
                              <li><a href="#">Nascetur ridiculus</a></li> 
                              <li><a href="#">Fusce fiat malesuada</a></li> 
                              <li><a href="#">Morbi nunc odio</a></li> 
                              <li><a href="#">Gravida at, cursus</a></li> 
                              <li><a href="#">Nec, luctus a, lorem</a></li>
                              <li class="last"><a href="#">Maecenas tristique</a></li> 
                           </ul>
                           <div class="wrapper"><a href="#" class="button1">more services</a></div>
                        </div>
                     </div>
                  </div>
                  <div class="col-2">
                  	<!-- box begin -->
                     <div class="box">
                     	<div class="top">
                        	<div class="bottom">
                           	<div class="inner">
                              	<h3>Services overview</h3>
                                 <div class="inner">
                                    <img class="img-indent" alt="" src="images/4page-img1.jpg" />
                                    <h5>Fusce euismod consequat ante lorem ipsum dolor sit amet, consectetuer</h5>
                                    Cum sociis natoque penatibus et mags dis parturi- ent montes, nascetur ridiulus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus lorem.
                                    <div class="clear"></div>
                                    <div class="line-hor"></div>
                                    <div class="wrapper"><a href="#" class="button">read more</a></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="box-bottom png"></div>
                     <!-- box end -->
                     <ul class="banners">
                     	<li><a href="#"><img alt="" src="images/banner1.jpg" /></a></li>
                        <li><a href="#"><img alt="" src="images/banner2.jpg" /></a></li>
                        <li class="last"><a href="#"><img alt="" src="images/banner3.jpg" /></a></li>
                     </ul>
                  </div>
               </div>
            </div>
            <!-- footer -->
            <div id="footer">
            	<p>Mountain hotel &copy; 2009 | <a href="index-5.html">Privacy Policy</a></p>
            </div>
         </div>
      </div>
   </div>
</body>
</html>