<h2>Rate Request</h2>

<p>Thank you for taking the time to request our rates. Rates may vary depending on season and availability. Listed below is our general rate sheet.
  To get more accurate pricing and availability you can always call our office at (406) 752-4333.</p>

<strong>General Rates:</strong>&nbsp;<%= link_to "2012 Rate Sheet", "http://glacierridgesuites.com/rates/2012_Rates.pdf" %>


<p>
Glacier Ridge Suites<br/>
Kalispell, Montana<br/>
(406) 752-4333
</p>